.personal-page{
	width: 100%;
	padding-top: 117px;
	.conter_width{
		width: 844px;
		margin: 0 auto;
	}
	.touxiang{
		position: relative;
		width:50%;
		margin: 2rem auto;
	}
	.tx_back{
		width:100%;
		border-radius: 50%;
	}
	.tx_yinzhang{
		width: 50%;
		position: absolute;
		bottom: -10%;
		right:-20%;
	}
	.tx_name{
		color:#000;
		font-size: 2.5rem;
		text-align: center;
		margin-top: 1.5rem;
	}
	.tx_nav{
		width: 40%;
		height: 40px;
		min-width: 160px;
		font-size: 28px;
		line-height: 40px;
		border: 1px solid #01983b;
		text-align: center;
		margin: 30px auto 0;
		padding: 0 5px;
		border-radius: 5px;
		color: #000;
		position: relative;
		cursor: pointer;
	}
	.tx_nav span{
		width:4rem;
		height:3rem;
		background:url(../images/huangguan.png) no-repeat;
		background-size: 100% 100%;
		position:absolute;
		top:-1.5rem;
		left:-1.7rem;
	}
	.border_left{
		border-left:1px solid #cccccc;
		margin-top: 2rem;
	}
	.chaxun{
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		color: #fff;
		background:#01983b;
		border-radius: 5px;
		cursor: pointer;
		padding: 0 5px;
	}
	.guanli_bor{
		text-align: center;
		background:url(../images/border.png) no-repeat;
		background-size: 100% 100%;
		width: 45%;
		height:10rem;
		font-size: 36px;
		line-height: 10rem;
		color: #000;
		margin-left: 4%;
		cursor: pointer;
	}
	.guanli_bor1{
		background:url(../images/xieborder.png) no-repeat;
		background-size: 100% 100%;
		position: relative;
	}
	.guanli_bor1 .jingp{
		line-height: 0;
		text-align: left;
		position: absolute;
		font-size: 24px;
		top:2.5rem;
		left:2rem;
	}
	.guanli_bor1 .youxuan{
		line-height: 0;
		text-align: right;
		position: absolute;
		right: 2rem;
		bottom: 2.5rem;
		font-size: 24px;
	}
	.soucangj{
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
		background:#01983b;
		border-radius: 5px;
	}
	.soucangj span{
		width: 24px;
		height: 24px;
		margin-top: 10px;
		background: url(../images/wuxing.png) no-repeat;
		background-size: 100% 100%;
	}
	.soucangj div{
		font-size: 20px;
		color: #fff;
		margin-left: 0.2rem;
	}
	.scjia{
		padding:3rem 0 2.5rem;
	}
	.geren{
		font-size: 36px;
		color: #000;
		text-align:center;
	}
	.bianji .guanli_bor,.bianji .guanli_bor1{
		font-size: 24px;
	}
	.bianji{
		margin-bottom: 12rem;
	}
	.without-role{
		h3{
			margin-top: 40px;
			font-size: 48px;
		}
		h5{
			font-size: 24px;
			color: #666666;
			font-weight: normal;
		}
		a{
			font-size: 24px;
		}
		.btn{
			font-size: 24px;
		}
		.btn.normal,.btn.normal:hover,.btn.normal:focus,.btn.normal:active{
			color: #000000;
			// border-radius: 0px;
			background: #ffffff;
		}
		.btn.selected,.btn.selected:hover,.btn.selected:focus,.btn.selected:active{
			color: #ffffff;
			// border-radius: 0px;
			background: #019836;
		}
	}
	.zx_width{
		width:625px;
	}
	.zx_width h2{
		font-size: 40px;
		text-align: center;
		line-height: 40px;
		margin:45px 0 67px 0;
	}
	.xm_list li .xm_beij{
		width:100%;
	}
	.zx_width .xm_title{
		padding-left:0;
	}
	.zx_width .xm_list li img{
		margin-left: 25px;
		margin-right: 22px;
	}
	.zx_width .xm_ziben{
		width:100px;
		margin:10px 0 0 0;
		text-align: center;
	}
	.zx_width .xm_title div{
		width:100px;
	}
	.zx_width  .xm_off{
		width:75px;
		height:21px;
		background:url(../images/offback.png) no-repeat;
		background-size:100% 100%;
		position:relative;
	}
	.xm_off span{
		font-size: 12px;
		position:absolute;
	}
	.xm_list li .xm_off img{
		width:46px;
		position:absolute;
		height:21px;
		margin-left: 0;
		margin-right: 0;
		right:0;
		z-index: 0;
		/* transform-origin: 9px 11px;
		-o-transform-origin: 9px 11px;
		-webkit-transform-origin: 9px 11px;
		-moz-transform-origin: 9px 11px;
		-ms-transform-origin: 9px 11px;
		transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-ms-transform:rotate(180deg); */
	}
	.zx_touziren{
		font-size: 36px;
		line-height: 36px;
		margin:45px 0 33px 0;
		text-align: center;
	}
	.zx_tab{
		width:100%;
	}
	.zx_tab li{
		float: left;
		font-size:17px;
		height:38px;
		line-height: 38px;
		padding:0 19px;
		border:1px solid #ccc;
		margin-left: -1px;
		cursor: pointer;
	}
	.zx_tab li.active{
		border-bottom:none;
	}
	.zx_person{
		width:100%;
	}
	.zx_person li{
		width:190px;
		margin-right: 18px;
		height:210px;
		margin-top: 20px;
	}
	.zx_person li img{
		width:100%;
		height:175px;
	}
	.zx_person li div{
		font-size: 19px;
		line-height: 19px;
		margin-top: 15px;
		text-align: center;
	}
	.zx_more{
		width: 97px;
		height:31px;
		color:#fff;
		font-size: 18px;
		border:none;
		background:#01983b;
		border-radius:5px;
		margin:20px 0 0 0;
	}
	.zx_bianji input[type="file"]{
		display: inline;
		width:75px;
	}
	.zx_qu{
		font-size: 25px;
		line-height: 25px;
		margin-top:10px;
	}
	.zx_bianji label{
		font-size: 23px;
		color:#000;
		line-height: 23px;
	}
	.zx_back{
		margin-top: 12px;
	}
	.zx_back label,.zx_back input{
		float: left;
	}
	.zx_back input{
		margin-top: 1px;
		margin-left:10px;
	}
	.zx_tupian{
		width:42px;
		height:36px;
		background:#c7c7c7;
		margin-left: 20px;
	}
	.zx_text input{
		width:375px;
		border:none;
		border-bottom:1px solid #ccc;
	}
	.zj_back{
		margin-top: 160px;
		padding-top:100px;
		height:400px;
		width:460px;
		background: #f5f5f5;
		border: 1px solid #b4b4b4;
	    box-shadow: 1px 1px 2px #b4b4b4;
	    -webkit-box-shadow: 1px 1px 2px #b4b4b4;
	    -moz-box-shadow: 1px 1px 2px #b4b4b4;
	    -o-box-shadow: 1px 1px 2px #b4b4b4;
	    -ms-box-shadow: 1px 1px 2px #b4b4b4;
	}
	.zj_back div{
		font-size: 30px;
		color:#999;
		text-align: center;
	}
	.zj_back input{
		width:130px;
		height:40px;
		font-size: 20px;
		border:none;
		background:#01983b;
		border-radius:5px;
		color: #fff;
		margin:40px auto 0;
		display: block;
	}
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 100%;
  height:350px;
}