.personal-page{
	width: 100%;
	padding-top: 117px;
	.conter_width{
		width: 844px;
		margin: 0 auto;
	}
	.touxiang{
		position: relative;
		width:50%;
		margin: 2rem auto;
	}
	.tx_back{
		width:100%;
		border-radius: 50%;
	}
	.tx_yinzhang{
		width: 50%;
		position: absolute;
		bottom: -10%;
		right:-20%;
	}
	.tx_name{
		color:#000;
		font-size: 2.5rem;
		text-align: center;
		margin-top: 1.5rem;
	}
	.tx_nav{
		width: 40%;
		height: 40px;
		min-width: 160px;
		font-size: 28px;
		line-height: 40px;
		border: 1px solid #01983b;
		text-align: center;
		margin: 30px auto 0;
		padding: 0 5px;
		border-radius: 5px;
		color: #000;
		position: relative;
		cursor: pointer;
	}
	.tx_nav span{
		width:4rem;
		height:3rem;
		background:url(../images/huangguan.png) no-repeat;
		background-size: 100% 100%;
		position:absolute;
		top:-1.5rem;
		left:-1.7rem;
	}
	.border_left{
		border-left:1px solid #cccccc;
		margin-top: 2rem;
	}
	.chaxun{
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		color: #fff;
		background:#01983b;
		border-radius: 5px;
		cursor: pointer;
		padding: 0 5px;
	}
	.guanli_bor{
		text-align: center;
		background:url(../images/border.png) no-repeat;
		background-size: 100% 100%;
		width: 45%;
		height:10rem;
		font-size: 36px;
		line-height: 10rem;
		color: #000;
		margin-left: 4%;
		cursor: pointer;
	}
	.guanli_bor1{
		background:url(../images/xieborder.png) no-repeat;
		background-size: 100% 100%;
		position: relative;
	}
	.guanli_bor1 .jingp{
		line-height: 0;
		text-align: left;
		position: absolute;
		font-size: 24px;
		top:2.5rem;
		left:2rem;
	}
	.guanli_bor1 .youxuan{
		line-height: 0;
		text-align: right;
		position: absolute;
		right: 2rem;
		bottom: 2.5rem;
		font-size: 24px;
	}
	.soucangj{
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
		background:#01983b;
		border-radius: 5px;
	}
	.soucangj span{
		width: 24px;
		height: 24px;
		margin-top: 10px;
		background: url(../images/wuxing.png) no-repeat;
		background-size: 100% 100%;
	}
	.soucangj div{
		font-size: 20px;
		color: #fff;
		margin-left: 0.2rem;
	}
	.scjia{
		padding:3rem 0 2.5rem;
	}
	.geren{
		font-size: 36px;
		color: #000;
		text-align:center;
	}
	.bianji .guanli_bor,.bianji .guanli_bor1{
		font-size: 24px;
	}
	.bianji{
		margin-bottom: 12rem;
	}
	.without-role{
		h3{
			margin-top: 40px;
			font-size: 48px;
		}
		h5{
			font-size: 24px;
			color: #666666;
			font-weight: normal;
		}
		a{
			font-size: 24px;
		}
		.btn{
			font-size: 24px;
		}
		.btn.normal,.btn.normal:hover,.btn.normal:focus,.btn.normal:active{
			color: #000000;
			// border-radius: 0px;
			background: #ffffff;
		}
		.btn.selected,.btn.selected:hover,.btn.selected:focus,.btn.selected:active{
			color: #ffffff;
			// border-radius: 0px;
			background: #019836;
		}
	}
}