<div class="personal-page">
	<!-- content -->
	<ng-include ng-if="vm.currentUser.role === 'NORMAL'" src="'scripts/routes/user/detail/role/_without-role.html'"  scope="" onload=""></ng-include>
	
	<div ng-if="vm.currentUser.role !== 'NORMAL'"  class="clearFix conter_width">
		<div class="col-xs-6">
			<ng-include ng-if="vm.currentUser.role === 'INVESTOR' || vm.currentUser.role === 'COOPERATOR' || vm.currentUser.role === 'INCUBATOR'" src="'scripts/routes/user/detail/sidebar/_side-bar1.html'"></ng-include>
			<ng-include ng-if="vm.currentUser.role === 'FOUNDER' || vm.currentUser.role === 'EXPERT'" src="'scripts/routes/user/detail/sidebar/_side-bar2.html'"></ng-include>
		</div>
		<div class="col-xs-10" ng-if="vm.displayMyWallet === false">
			<ng-include ng-if="vm.currentUser.role === 'INVESTOR'" src="'scripts/routes/user/detail/role/_role-investor.html'"></ng-include>

			<ng-include ng-if="vm.currentUser.role === 'FOUNDER'" src="'scripts/routes/user/detail/role/_role-founder.html'"></ng-include>

			<ng-include ng-if="vm.currentUser.role === 'EXPERT'" src="'scripts/routes/user/detail/role/_role-expert.html'"></ng-include>

			<ng-include ng-if="vm.currentUser.role === 'COOPERATOR'" src="'scripts/routes/user/detail/role/_role-cooperator.html'"></ng-include>

			<ng-include ng-if="vm.currentUser.role === 'INCUBATOR'" src="'scripts/routes/user/detail/role/_role-incubator.html'"></ng-include>
		</div>
		<div class="col-xs-10">
			<ng-include ng-if="vm.displayMyWallet === true" src="'scripts/routes/user/detail/wallet/_my-wallet.html'"  scope="" onload=""></ng-include>
		</div>
	</div>

</div>