<div class="clearFix">
	<div class="fl mg_dian"></div>
	<div class="fl mg_xinxi">个人基本信息</div>
</div>
<div class="clearFix mg_shangchuan">
	<div class="fl mg_touxiang">
		<img src="{{vm.filter.photo ? 'http://' + vm.filter.photo : 'assets/images/chengrong.png'}}" alt="">
		<div class="clearFix mg_xuanz">
			<button type="button" ng-click="vm.openUploadImgModal('head')">自定义头像</button>
		</div>
		
	</div>
	<div class="fl mg_touxiang" style="width: 207px;">
		<img src="{{vm.filter.qrCode ? 'http://' + vm.filter.qrCode : 'assets/images/erweima1.jpg'}}" alt="" style="margin:0 auto;border-radius: 0;">
		<div class="mg_yaoq">（仅限大型活动邀请使用）</div>
		<div class="clearFix mg_xuanz">
			<div class="fl">上传微信二维码</div>
			<button ngf-select="vm.uploadQRCode($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">请选择文件</button>
			<!-- <input type="file" class="fl" name="" value="" placeholder=""> -->
		</div>
	</div>
</div>
<ul class="mg_luguo">
	<li>
		<label>用户名：</label>
		<input type="text" ng-model="vm.filter.name" name="" placeholder="">
	</li>
	<li>
		<label>{{vm.role === 'INVESTOR' ? '投资机构' : ''}}{{vm.role === 'FOUNDER' ? '项目' : ''}}{{vm.role === 'EXPERT' ? '公司' : ''}}名称：</label>
		<input type="text" name="" ng-model="vm.filter.companyName" placeholder="">
	</li>
	<li>
		<label>职位：</label>
		<input type="text" ng-model="vm.filter.position" name="" placeholder="">
	</li>
	<li>
		<label>邮箱：</label>
		<input type="text" ng-model="vm.filter.mail" name="" placeholder="*请输入邮箱">
	</li>
	<li>
		<label style="color:#18bd9b;">邀请码：</label>
		<input type="text" ng-model="vm.filter.inviteCode" name="" placeholder="选择输入">
		<span>(知名机构为您备书)</span>
	</li>
</ul>
<input type="button" name="" class="mg_queding" value="保存并下一步" ng-click="vm.nextStep()">