<div class="modal modalwithconfirmation fade in fv-modal-stack" id="modal-stock-quantity">
  <div class="modal-dialog">
    <form name="myForm" novalidate>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()"> <i class="fa fa-times-circle"></i>
          <span class="sr-only" translate>Close</span>
        </button>
        <h4 class="modal-title">
          自定义头像
        </h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-16 mb20">
          <div class="col-xs-12">
            <div class="mb20">
              本地照片: 
              <input type="file" class="pull-right" name="myFile" value="" placeholder="" onchange="angular.element(this).scope().handleFileSelect()">
            </div>
            <div class="cropArea">
              <img-crop image="myImage" area-type="square" result-image-size="150" result-image="myCroppedImage" on-change="cropImgChanged()"></img-crop>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="mb20">预览:</div>
            <div><img ng-src="{{myCroppedImage}}" /></div>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="uploadFiles(cropImgs)">确定</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
      </div>
    </div>
    </form>
  </div>
</div>