.man-page{
	width: 100%;
	padding-top: 117px;
	/*content*/
	.guanli1{
		width: 100%;
		margin: 0 auto;
		margin-top: 48px;
		font-size: 36px;
		text-align: center;
	}
	.content_zhaopian{
		width:70%;
		margin: 20px auto 0;
	}
	.content_zhaopian img{

	}
	.content_p{
		padding-right: 0;
	}
	.content_p .hexin{
		color:#000;
		margin:2rem 0;
	}
	.yunpt p{
		margin: 0;
		color: #666666;
		line-height: 32px;
	}
	.touziren{
		width:100%;
		padding: 10px;
		background-color: #323a47;
		margin-top: 20px;
	}
	.touziren h2{
		font-size: 36px;
		color: #fff;
		text-align: center;
	}
	.content_ul{
		width:70%;
		padding: 0;
		margin:20px auto 0;
		color: #fff;
		position: relative;
	}
	.content_ul li{
		padding-left: 0;
		text-align: center;
	}
	.content_ul li h4{
		margin-top: 50px;
		font-size: 20px;
	}
	.content_ul li img{
		width: 100%;
		// height: 300px;
	}
	.content_ul li p{
		margin-top: 10px;
		font-size: 12px;
		line-height: 24px;
	}
	.goleft1{
		width: 26px;
		height: 42px;
		background:url(../images/goleft.png) no-repeat;
		background-size: 100% 100%;
		position: absolute;
		left: -60px;
		top: 20%;
	}
	.goright1{
		width: 26px;
		height: 42px;
		background: url(../images/goright.png) no-repeat;
		background-size: 100% 100%;
		position: absolute;
		right: -40px;
		top: 20%;
	}
	.houguanli h3{
		font-size: 36px;
		text-align: center;
		margin: 40px 0 40px 0;
	}
	.houguanli ul{
		width:70%;
		margin: 0 auto;
	}
	.houguanli ul li h4{
		font-size: 24px;
		font-weight: bold;
	}
	.houguanli ul li .col-xs-1{
		height: 100px;
		width: 4%;
		background: url(../images/chilun.png) no-repeat;
		background-size: 100%;
	}
	.houguanli ul li .col-xs-15{
		margin-left: 10px;
	}
	.houguanli ul li p{
		margin: 0;
		font-size: 18px;
		font-weight: normal;
	}
	.touhoumokuai{
		position: relative;
		padding: 50px 0;
		width: 100%;
		background: #18bd9b;
		margin-top: 30px;
	}
	.touhoumokuai h3{
		margin-top: 0;
		text-align: center;
		font-size: 40px;
		color: #fff;
	}
	.touhoumokuai ul{
		width: 70%;
		margin: 40px auto 0;
		position: relative;
	}
	.touhoumokuai ul li img{
		width: 100%;
		// height: 300px;
	}
	.touhoumokuai ul li{
		text-align: center;
		padding-right: 0;
	}
	.touhoumokuai ul li p{
		font-size: 12px;
		margin: 0;
		line-height: 40px;
		color: #fff;
	}
	.touhoumokuai ul li h4{
		color: #fff;
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 20px;
	}
	.touhoumokuai ul li a{
		position: relative;
		display: block;
		width: 60%;
		height: 40px;
		margin: 0 auto;
		background-color: #fff;
		text-align: center;
		line-height: 40px;
		border-radius: 40px;
		color: #333;
	}
	.mokuai_left{
		position: absolute;
		width: 12px;
		height: 38px;
		background:url(../images/goleft1.png) no-repeat;
		background-size: 100%;
		left: -20px;
		top: 20%;
		cursor: pointer;
	}
	.mokuai_right{
		position: absolute;
		width: 12px;
		height: 38px;
		background: url(../images/goright1.png) no-repeat;
		background-size: 100%;
		right: -40px;
		top: 20%;
		cursor: pointer;
	}
	.zhibiao{
		width:100%;
		background:#323a47;
		padding: 40px 0;
	}
	.zhibiao_top{
		width:70%;
		margin:0 auto;
	}
	.zhibiao_top img{
		width:15%;
		margin-left: 24%;
		margin-top: 20px;
	}
	.zhibiao_top h3{
		color:#fff;
		font-size: 42px;
		margin: 0;
	}
	.zhibiao ul{
		width:70%;
		margin: 60px auto 20px;
	}
	.zhibiao ul li{
		padding-right: 0;
	}
	.zhibiao ul li img{
		width:100%;
	}
	.zhibiao ul li h4{
		text-align: center;
		color: #fff;
		margin-top: 30px;
		font-size: 24px;
	}
	.footer_footer{
		line-height: 50px;
		width: 100%;
		margin: 0 auto;
		background-color: #1e242e;
		text-align: center;
		color: #757374;
		font-size: 12px;
	}
}