@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../../../assets/fonts/Montserrat-Regular.eot');
	src: url('../../../assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Montserrat-Regular.woff') format('woff'), url('../../../assets/fonts/Montserrat-Regular.ttf') format('truetype'), url('../../../assets/fonts/Montserrat-Regular.svg#webfont') format('svg');
}