.img-responsive,.thumbnail > img,.thumbnail a > img,.carousel-inner > .item > img,.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}
.img-rounded {
	border-radius: 0px;
}
.img-thumbnail {
	padding: 4px;
	line-height: 1.666666667;
	background-color: #b0b0b0;
	border: 1px solid #dddddd;
	border-radius: 0px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.img-circle {
	border-radius: 50%;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}