.fu_tuijian{
	font-size:37px;
	color:#333;
	line-height:37px;
	margin-top:33px;
	text-align:center;
}
.fu_left{
	width:344px;
	margin-top:40px;
}
.fu_left img{
	width:307px;
	height:163px;
	margin-left:10px;
}
.fu_qq{
	font-size:22px;
	color:#333;
	text-align:center;
	line-height:22px;
	margin-top:20px;
}
.fu_tianshi{
	margin-top:20px;
}
.fu_tianshi div{
	height:38px;
	width:218px;
	border:1px solid #01983b;
	border-radius:5px;
	color:#000;
	line-height:38px;
	text-align:center;
	font-size:26px;
}
.fu_tianshi span{
	font-size:15px;
	margin-top:10px;
	color:#999;
}
.fu_tianshi span.fu_number{
	color:#333;
}
.fu_feiyong{
	display:block;
	border:none;
	height:38px;
	width:218px;
	color:#fff;
	background:#26a757;
	border-radius:5px;
	margin-top:50px;
	font-size:26px;
	line-height:38px;
}
.fu_fasong{
	width:580px;
	
}
.fu_xiangm{
	padding:60px 10px 0 25px;
}
.fu_fasong h3{
	font-size:22px;
	line-height:22px;
	text-align:center;
	margin-bottom:35px;
}
.fu_list{
	font-size:15px;
	color:#000;
	margin-top:3px;
}
.fu_shuru{
	margin-left:20px;
}
.fu_shuru div{
	margin-bottom:10px;
}
.fu_shuru label{
	color:#333;
	font-size:19px;
}
.fu_shuru input{
	width:200px;
	height:30px;
	padding-left:10px;
	font-size:17px;
}
.fu_shangchuan{
	width:218px;
	margin-left:29px;
	font-size:16px;
}
.fu_shangchuan div{
	font-size:17px;
	color:#333;
}
.fu_wenjian{
	width:87px;
	height:30px;
	margin-left:25px;
}
.fu_back{
	width:85px;
	height:75px;
	background:#e4e4e4;
	margin-left:25px;
	margin-top:3px;
}
.fu_add{
	width:80px;
	height:40px;
	color:#fff;
	font-size:24px;
	border:none;	
	background:#01983b;
	border-radius:5px;
	margin-top:60px;
	margin-right:40px;
}
.fu_yijian{
	width:160px;
	margin-right:40px;
	margin-top:30px;
}
.fu_yijian input{
	width:100%;
	height:40px;
	color:#fff;
	font-size:24px;
	border:none;	
	background:#01983b;
	border-radius:5px;
	margin-top:30px;
}
.fu_yijian div{
	color:#999999;
	font-size:19px;
	text-align:center;
}
.fu_jilu{
	font-size:24px;
	color:#000;
	text-align:center;
	line-height:24px;
	margin-top:45px;
}
.fu_ullist{
	width:530px;
	margin-bottom:27px;
}
.fu_ullist li{
	width:122px;
	border:1px solid #ccc;
	margin-left:-1px;
	height:26px;
	font-size:18px;
	line-height:28px;
	text-align:center;
	cursor: pointer;
	margin-top:28px;
}
.fu_ullist li.fu_beizhu{
	width:47px;
	border:none;
}
.fu_fajilu div{
	width:122px;
	overflow:hidden;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;
	white-space:nowrap;
}
.fu_fajilu .fu_fuxian{
	vertical-align:middle;
	margin:0 0 0;
}
.fu_fajilu span,.fu_fajilu div{
	font-size:14px;
	color:#242424;
}
.fu_fajilu div.fu_zhuangtai{
	width:47px;
}
.fu_page .pagination > li > span{
	padding:6px 10px;
}