<div class="login-page">
	<div class="col-xs-4 col-xs-offset-9 login-form">
		<form class="form-horizontal">
			<div class="form-group row">
			    <label class="col-xs-5 control-label">*手机号：</label>
			    <div class="col-xs-10">
			      <input type="text" ng-model="vm.phone" class="form-control">
			    </div>
		  	</div>
		  	<div class="form-group row">
			    <label class="col-xs-5 control-label">*短信验证：</label>
			    <div class="col-xs-10">
			      <input type="text" ng-model="vm.code" class="form-control">
			    </div>
		  	</div>
		  	<div class="form-group row">
		  		<div class="col-xs-16">
		  			<button type="button" class="btn btn-default selected get-auth-code pull-right" ng-click="vm.getcode()" id="code">获取验证码</button>
		  		</div>
		  	</div>
		  	<div class="form-group row">
			    <label class="col-xs-5 control-label">*设置密码：</label>
			    <div class="col-xs-10">
			      <input type="password" ng-model="vm.password1" class="form-control">
			    </div>
		  	</div>
		  	<div class="form-group row">
			    <label class="col-xs-5 control-label">*确认密码：</label>
			    <div class="col-xs-10">
			      <input type="password" ng-model="vm.password2" class="form-control">
			    </div>
		  	</div>
		  	<div class="form-group row">
		  		<div class="col-xs-16">
		  			<button type="button" class="btn btn-default selected col-xs-16" ng-click="vm.sign()">注册</button>
		  		</div>
		  	</div>
			<div class="form-group row">
			    <div class="col-xs-14">
			      <input type="checkbox"> 我已阅读并同意《服务条款》
			    </div>
			</div>
		</form>
		<div class="third">
			<div class="row">
				<span class="col-xs-5 col-xs-offset-5">第三方登录</span>
			</div>
			<div class="row">
				<span class="col-xs-4 col-xs-offset-5 web-chat"></span>
			</div>
			
		</div>
	</div>

</div>