.login-page{
	width: 100%;
	height: 100%;
	background: url(../images/loginbg.png) no-repeat;
	background-size: 100%;
	background-position: center;
	.login-form{
		margin-top: 150px;
		padding: 8px 20px;
		padding-top: 100px;
		background: #ffffff;
		border-left: 1px solid #3a867e;
		box-shadow: 0px 3px 5px #113735;
		background: url(../images/logo2.png) #ffffff no-repeat;
		background-position: center 10px;
		.third{
			margin-top: 20px;
		}
		.col-xs-10{
			padding-right: 0px;
		}
		.form-group{
			margin-bottom: 8px;
		}
		label{
			font-weight: normal;
		}
		.form-control{
			height: 30px;
			border: none;
			border-bottom: 1px solid #ccc;
			box-shadow: none;
			border-radius: 0px;
			background: transparent;
		}
		.login-btn{
			padding-top: 10px;
		}
		.btn{
			font-size: 14px;
		}
		.btn.normal,.btn.normal:hover,.btn.normal:focus,.btn.normal:active{
			color: #000000;
			border-radius: 0px;
			background: #ffffff;
		}
		.btn.selected,.btn.selected:hover,.btn.selected:focus,.btn.selected:active{
			color: #ffffff;
			border-radius: 0px;
			background: #019836;
		}
	}
	.third{
		.web-chat::after{
			width: 48px;
			height: 48px;
			padding: 15px;
			content: url(../images/wcIcon.png);
			cursor: pointer;
		}
		.qr-code::after{
			width: 137px;
			height: 135px;
			content: url(../images/qr-code.png);
			cursor: pointer;
		}
	}
}
