.cen_ter{
	font-size:40px;
	color:#333333;
	text-align:center;
	line-height:40px;
	margin:80px 0 75px;
}
.cen_mokuai{
	width:340px;
	margin-left:105px;
	margin-top:50px;
}
.cen_mokuai img{
	width:100%;
}
.cen_mokuai div{
	font-size:28px;
	color:#333;
	text-align:center;
	margin-top:40px;
	line-height:28px;
}