.invest-page{
	.content{
		width:925px;
		margin:0 auto;
	}
	.shoucang div{
		font-size:15px;
		width:60px;
		height:30px;
		line-height:30px;
		text-align:center;
		color:#fff;
		float: right;
		background:#01983b;
		margin-top: 9px;
	}
	.cont_person{
		width:100%;
		background:#f2f2f2;
		border:1px solid #dadada;
		box-shadow: 1px 1px 1px;
		-webkit-box-shadow: 1px 1px 1px;
		-o-box-shadow:1px 1px 1px;
		-moz-box-shadow:1px 1px 1px;
		padding: 8px 16px;
		margin-top:10px;
	}
	.cont_da{
		position: relative;
	}
	.cont_da img{
		width:145px;
		height:133px;
	}
	.cont_da div{
		width:76px;
		height:68px;
		background:url(../../../assets/images/dakazhang.png) no-repeat;
		background-size:100% 100%;
		position:absolute;
		bottom:0;
		right:-28px;
	}
	.cont_shenf{
		margin-left: 25px;
	}
	.cont_shenf h3{
		color:#000;
		font-size: 29px;
	}
	.cont_shenf p{
		font-size: 12px;
		line-height:20px;
		color:#333;
	}
	.cont_shenf div{
		font-size: 12px;
		color:#333;
		margin-top:20px;
	}
	.jieduan{
		margin-left: 70px;
	}
	.touzi{
		font-size: 17px;
		color:#333;
		line-height: 17px;
		margin-bottom:10px;
	}
	.toujie{
		font-size: 12px;
		color:#333;
		line-height: 20px;
	}
	.margin-left{
		margin-left: 34px;
	}
}