.mo_head{
	width:160px;
	height:40px;
	border:none;
	color:#fff;
	font-size:17px;
	display:block;
	margin-top:40px;
	background:#01983b;
	border-radius:5px;
	margin-bottom:20px;
}
.mo_body{
	height:677px;
	width:650px;
	margin:0 auto;
	position:relative;
}
.mo_body img{
	height:100%;
	width:100%;
}
.mo_body a{
	position:absolute;
	font-size:23px;
	color:#666;
	width:150px;
	text-align:center;
}
.mo_position1{
	top:115px;
	left:250px;
}
.mo_position2{
	top:240px;
	left:58px;
}
.mo_position3{
	top:240px;
	right:58px;
}
.mo_position4{
	bottom:190px;
	left:58px;
}
.mo_position5{
	bottom:190px;
	right:58px;
}
.mo_position6{
	bottom:70px;
	left:250px;
}
.mo_body div{
	position:absolute;
	font-size:34px;
	color:#333;
	left:285px;
	top:310px;
}
.mo_fasong{
	display:block;
	border:none;
	border-radius:5px;
	color:#fff;
	width:160px;
	height:40px;
	background:#01983b;
	margin:130px auto;
}